<div class="row form-nueva">
  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-header">
        <span>Nueva nota aula {{letraFormulario}}</span>
        <i (click)="onCerrarFormulario()" class="fa fa-minus-circle"></i>
      </div>
      <form class="card-body">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" required />
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input type="text" class="form-control" id="apellidos" required />
        </div>
        <div class="form-group">
          <label for="nota">Nota:</label>
          <input type="number" class="form-control form-control-sm" id="nota" required />
        </div>
        <button class="btn btn-primary">añadir</button>
      </form>
    </div>
  </div>
</div>
